In [6]:
import pandas as pd
from pandas import DataFrame

dataFrame = pd.read_csv("Trnx_Dataset.csv")

In [7]:
print(dataFrame)

     Transaction ID       Country  Amount (USD)   Transaction Type  \
0      TX0000000001        Brazil  3.267530e+06  Offshore Transfer
1      TX0000000002         China  4.965767e+06    Stocks Transfer
2      TX0000000003            UK  9.416750e+04    Stocks Transfer
3      TX0000000004           UAE  3.864201e+05    Cash Withdrawal
4      TX0000000005  South Africa  6.433784e+05     Cryptocurrency
...             ...           ...           ...                ...
9995   TX0000009996     Singapore  2.209229e+06  Offshore Transfer
9996   TX0000009997           UAE  4.800338e+06  Property Purchase
9997   TX0000009998            UK  4.891953e+05    Stocks Transfer
9998   TX0000009999        Brazil  2.233581e+06  Offshore Transfer
9999   TX0000010000   Switzerland  3.846778e+05    Stocks Transfer

      Date of Transaction Person Involved      Industry Destination Country  \
0     2013-01-01 00:00:00     Person_1101  Construction                 USA
1     2013-01-01 01:00:00     Person_7484  Luxury Goods        South Africa
2     2013-01-01 02:00:00     Person_3655  Construction         Switzerland
3     2013-01-01 03:00:00     Person_3226     Oil & Gas              Russia
4     2013-01-01 04:00:00     Person_7975   Real Estate                 USA
...                   ...             ...           ...                 ...
9995  2014-02-21 11:00:00     Person_6896   Real Estate              Brazil
9996  2014-02-21 12:00:00     Person_6348  Luxury Goods              Russia
9997  2014-02-21 13:00:00     Person_4171     Oil & Gas              Russia
9998  2014-02-21 14:00:00     Person_2799   Real Estate              Russia
9999  2014-02-21 15:00:00     Person_3267    Arms Trade               China

      Reported by Authority Source of Money  Money Laundering Risk Score  \
0                      True         Illegal                            6
1                     False         Illegal                            9
2                      True         Illegal                            1
3                     False         Illegal                            7
4                      True         Illegal                            1
...                     ...             ...                          ...
9995                  False         Illegal                            4
9996                  False           Legal                           10
9997                  False         Illegal                            5
9998                   True         Illegal                           10
9999                   True           Legal                            5

      Shell Companies Involved Financial Institution Tax Haven Country
0                            1               Bank_40         Singapore
1                            0              Bank_461           Bahamas
2                            3              Bank_387       Switzerland
3                            2              Bank_353            Panama
4                            9               Bank_57        Luxembourg
...                        ...                   ...               ...
9995                         4              Bank_258        Luxembourg
9996                         2              Bank_449        Luxembourg
9997                         0              Bank_156    Cayman Islands
9998                         5               Bank_12         Singapore
9999                         4               Bank_22            Panama

[10000 rows x 14 columns]